body {
	background-color: #F0FFFF;
}

#jose {
	font-family: Magneto;
	font-size: 27px;
}

#jose2 {
	font-family: chaparral pro;
	font-size: 20px;
}


#carlos {
	font-family: Magneto;
	font-size: 27px;
}

#carlos2 {
	font-family: chaparral pro;
	font-size: 20px;
}


#roberto {
	font-family: Magneto;
	font-size: 27px;
}

#roberto2 {
	font-family: chaparral pro;
	font-size: 20px;
}