body {
	background-color: #F0FFFF;
}

#apresentacao {
	font-family:chaparral pro;
	font-size: 20px;
}

#importados {
	font-family: chaparral pro;
	font-size: 20px;
}

#geometria {
	font-family: chaparral pro;
	font-size: 20px;
}

#preparacao{
	font-family: chaparral pro;
	font-size: 20px;
}

#restauracao {
	font-family: chaparral pro;
	font-size: 20px;
}